{% extends "base.html" %}
{% block listdropdown %}
    {% if user %}
        {% if profile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile/intern" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
        {% else %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/job-post">Post New Job</a></li>
                                <li><a href="/profile/jobs">View Active Jobs</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
        {% endif %}
    {% endif %}
{% endblock %}
{% block signinbutton %}
    {% if user = None %}
                <p class="navbar-text pull-right"><a href="/login" class="navbar-link">Login</a></p>
    {% endif %}
{% endblock %}
{% block container %}
      <h1>About Us</h1>
      <p>Formerly known as the School of Computer Science, Telecommunications and Information Systems (CTI), we became the College of Computing and Digital Media(CDM) in 2008 to better convey the scope of our programs to employers and industry professionals. CDM is now organized into two schools: the School of Computing (SoC) and the School of Cinema and Interactive Media (CIM).
      <br><br>
	  <b>Mission:</b>
	  <br>to match student candidates with appropriate IT internships. These computer-related positions should give students practical work experience in IT while satisfying their Junior year experiential learning requirement. Internships should allow students an opportunity to integrate academic experience with on-the-job training in computer-related work areas. Students will be matche by this process based on their skills, as well as their potential fit to the culture of the internship company.
	  <br><br>
      <b>Developers:</b>
      <ul>
        <li>Harold Bretzlauf</li>
        <li>Juan Carlos Escobar</li>
        <li>David Kingman</li>
        <li>Khayam Masud</li>
        <li>Joel Vasallo</li>
      </ul>
      </p>
{% endblock %}
