{% extends "base.html" %}
{% block listdropdown %}
    {% if user %}
                        <li class="dropdown">
                            <a href="/profile/intern" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/intern">Edit Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
{% endblock %}
{% block signinbutton %}
    {% if user = None %}
                <p class="navbar-text pull-right"><a href="/login" class="navbar-link">Login</a></p>
    {% endif %}
{% endblock %}
{% block container %}
      <h1>Contact Intern Match</h1>
      <p>We are commited to keeping in contact with you! Any questions or suggestions just give us a holler, and a representative will contact you shortly!
      <br> 
      <b>Reach Us Via:</b>
      <ul>
        <li>Email: admin@internmatch.com</li>
        <li>Phone: 773 123 4567</li>
        <li>Address: 1234 N. Fake St<br />Chicago, IL 12345</li>
      </ul>
      </p>
{% endblock %}
