{% extends "base.html" %}
{% block listdropdown %}
    {% if user %}
        {% if profile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile/intern" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
        {% else %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/job-post">Post New Job</a></li>
                                <li><a href="/profile/jobs">View Active Jobs</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
        {% endif %}
    {% endif %}
{% endblock %}
{% block signinbutton %}
    {% if user = None %}
                <p class="navbar-text pull-right"><a href="/login" class="navbar-link">Login</a></p>
    {% endif %}
{% endblock %}
{% block container %}
      <h1>Contact</h1>
      <br> 
      <h4>Thomas Muscarello</h4>
	  <p>
		DePaul University, CDM 845<br />243 South Wabash Avenue<br />Chicago, IL 60604<br />
		(312)362-8737<br />
        <a href="mailto:tmuscare@cdm.depaul.edu">tmuscare@cdm.depaul.edu</a><br />
      </p>
{% endblock %}
