{% extends "base.html" %}
{% block listdropdown %}
    {% if user %}
        {% if profile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile/intern" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
				<li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
        {% else %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/job-post">Post New Job</a></li>
                                <li><a href="/profile/jobs">View Active Jobs</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
        {% endif %}
    {% endif %}
{% endblock %}
{% block signinbutton %}
    {% if user = None %}
                <p class="navbar-text pull-right"><a href="/login" class="navbar-link">Login</a></p>
    {% endif %}
{% endblock %}
{% block container %}
    <div class="hero-unit">
        <h1><span class="first">In</span><span class="second">te</span><span class="third">rn</span><span class="forth">|</span><span class="fifth">Ma</span><span class="sixth">tc</span><span class="seventh">h</span></h1>
        <br />
        <form class="search-form" method="="GET">
            Seeking: <input type="text" class="input-large" id="skills" data-provide="typeahead" data-items="4" placeholder="Enter job title or keyword">
            in <input type="text" class="input-large" id="city" data-provide="typeahead" data-items="2" placeholder="City, State, or Zip Code">
            <br />
            <a href="/search" type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Search</a>
        </form>
    {% if user = None %}
        <p>What are you waiting for? Sign up today and get personalized matches!</p>   
        <a href="/register/intern" class="btn btn-large btn-primary">Student Sign-up</a>
        <a href="/register/company" class="btn btn-large btn-primary">Employer Sign-up</a>
    {% endif %}
    </div>
{% endblock %}
