<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Intern | Match Search Results</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="{{ STATIC_URL }}css/bootstrap2.css" rel="stylesheet">
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
			/* Custom container */
			.container-narrow {
				margin: 0 auto;
				max-width: 900px;
			}
			.container-narrow > hr {
				margin: 30px 0;
			}
			.form-signin {

				max-width: 300px;
				padding: 10px 10px 10px;
				margin: 0 auto 0px;
				background-color: #0084c9;
				border: 1px solid #e5e5e5;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
				-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
				box-shadow: 0 1px 2px rgba(0,0,0,.05);
			}
			.form-signin .form-signin-heading, .form-signin .checkbox {

				margin-bottom: 10px;
			}
			.form-signin input[type="text"], .form-signin input[type="password"] {
				font-size: 12px;
				height: 20px;
				margin-bottom: 15px;
				padding: 7px 9px;
			}

			.search-form {
				background-color: #000000;
				color: #FFFFFF;
				padding-top: 15px;
				padding-bottom: 10px;
				padding-left: 50px;
			}
		</style>
		<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="/">Intern | Match</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active">
								<a href="/">Home</a>
							</li>
							<li>
								<a href="/about">About</a>
							</li>
							<li>
								<a href="/contact">Contact</a>
							</li>
							{% if isAuth %}
							<li class="dropdown">
								<a href="/" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="/profile/">Edit Profile</a>
									</li>
									<li>
										<a href="/logout">Logout</a>
									</li>
								</ul>
							</li>
							{% endif %}
						</ul>
						
						{% if not isAuth %}
						<ul class="nav pull-right">
							<li>
								<a href="/login">Sign in</a>
							</li>
						</ul>
						{% endif %}
						
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<!--    <div class="well">
		<input type="text" class="span3" id="search" data-provide="typeahead" data-items="4" />
		</div>   -->

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12 well">

					<h1>Search Results <small>[search term]</small></h1>
					<form class="search-form">
						Seeking:
						<input type="text" class="input-large" id="skills" data-provide="typeahead" data-items="4" placeholder="Enter job title or keyword">
						in
						<input type="text" class="input-large" id="city" data-provide="typeahead" data-items="2" placeholder="City, State, or Zip Code">
						<button type="submit" class="btn btn-primary">
							<i class="icon-search icon-white"></i> Search
						</button>
					</form>
				</div>
			</div>
		</div>

		<br>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3 well">
					<b>Sort By: </b>
					<br>
					<div class="btn-group" data-toggle="buttons-radio">
						<button type="button" class="btn btn-primary">
							Relevance
						</button>
						<button type="button" class="btn btn-primary">
							Date Posted
						</button>
					</div>
					<br>
					<br>
					<b>Compensation:</b>
					<br>
					<div class="btn-group" data-toggle="buttons-radio">
						<button type="button" class="btn btn-primary">
							Both
						</button>
						<button type="button" class="btn btn-primary">
							Paid
						</button>
						<button type="button" class="btn btn-primary">
							Unpaid
						</button>
					</div>
					<br>
					<br>
					<b>Location:</b>
					<br>
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> Chicago, IL <span class="caret"></span> </a>
						<ul class="dropdown-menu">
							<li>
								Schaumburg, IL
							</li>
							<li>
								Detroit, MI
							</li>
						</ul>
					</div>
				</div>
				<div class="span9 well">
					
					<a href="?"><h3>{{ posting.position }}</h3></a>
					<p><a href="?" target="_blank"><b>{{ posting.company.name }}</b></a> - {{ posting.city }}, {{ posting.state }}
					<br>
					{{ posting.headline }}</p>
					<hr>
					
					<a href="?"><h3>{{ posting.position }}</h3></a>
					<p><a href="?" target="_blank"><b>{{ posting.company.name }}</b></a> - {{ posting.city }}, {{ posting.state }}
					<br>
					{{ posting.headline }}</p>
					<hr>
					
					<a href="?"><h3>{{ posting.position }}</h3></a>
					<p><a href="?" target="_blank"><b>{{ posting.company.name }}</b></a> - {{ posting.city }}, {{ posting.state }}
					<br>
					{{ posting.headline }}</p>
					<hr>
					
					<a href="?"><h3>{{ posting.position }}</h3></a>
					<p><a href="?" target="_blank"><b>{{ posting.company.name }}</b></a> - {{ posting.city }}, {{ posting.state }}
					<br>
					{{ posting.headline }}</p>
					<hr>
					
					
					

					<!-- <a href="?"><h3>Java Developer</h3></a>
					<p><a href="?" target="_blank"><b>ACME Industries</b></a> - Chicago, IL
					<br>
					You get to do a bunch of cool stuff! We are a super creative company, and are always looking for new interns to help catch pesky roadrunners.</p>
					<hr>

					<a href="?"><h3>Systems Analyst</h3></a>
					<p><a href="?" target="_blank"><b>ACME Industries</b></a> - Chicago, IL
					<br>
					You get to do a bunch of cool stuff! We are a super creative company, and are always looking for new interns to help catch pesky roadrunners.</p>
					<hr>

					<a href="?"><h3>Quality Assurance</h3></a>
					<p><a href="?" target="_blank"><b>ACME Industries</b></a> - Chicago, IL
					<br>
					You get to do a bunch of cool stuff! We are a super creative company, and are always looking for new interns to help catch pesky roadrunners.</p>
					<hr>

					<h5>[company.job[0].name]</h5>
					<br>
					[company.name] - [company.location]
					<br>
					[company.job.description]
					<hr> -->

					<div class="pagination pagination-centered">
						<ul>
							<li>
								<a href="#">&laquo;</a>
							</li>
							<li>
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#">&raquo;</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<!-- End Row -->
		</div>
		<!-- End Container -->


		<br>

		<hr>

		<footer class="pull-right">
			<p>
				&copy; Intern|Match Inc. All rights reserved.
			</p>
		</footer>

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<!-- <script src="{{ STATIC_URL }}js/jquery-1.8.0.js"></script> -->
		<script src="{{ STATIC_URL }}js/jquery.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
		<script>
			var subjects = ['PHP', 'Python', 'Django', 'MySQL', 'SQL', 'PostgreSQL', 'HTML', 'CSS', 'HTML5', 'CSS3', 'JSON'];
			var city = ['Chicago, IL', 'Schaumburg, IL', 'Niles, IL', 'Detroit, MI', 'Milwaukee, WI'];
			$('#skills').typeahead({
				source : subjects
			})
			$('#city').typeahead({
				source : city
			})
		</script>

	</body>
</html>
