<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
</head>

<div class="hero-unit">
  <h1>Register</h1>
  <p>Intern?</p>
  <p>
  	<form class="navbar-form pull-left">
  		<input type="text" class="span2">
  		<button type="submit" class="btn btn-primary btn-large">Submit</button>
	</form>
  </p>
</div>



<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
