<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.0.custom.js"></script>
    <script src="{{ STATIC_URL }}js/quiz.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
    <!-- <link rel="stylesheet" href="/resources/demos/style.css" /> -->

    <title>QSRT Quiz</title>
    <style>
		#sortable {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 60%;
		}
		#sortable li {
			margin: 0 3px 3px 3px;
			padding: 0.4em;
			padding-left: 1.5em;
			font-size: 1.4em;
			height: 18px;
		}
		#sortable li span {
			position: absolute;
			margin-left: -1.3em;
		}
		body {
			padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			padding-bottom: 60px;
		}
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
	  <a class="brand" href="/">Intern Match</a>

	  <div class="nav-collapse collapse">
    	    <ul class="nav">
	      <li class="active"><a href="/">Home</a></li>
	      <li><a href="#about">About</a></li>
	      <li><a href="#contact">Contact Us</a></li>
            </ul>
	  </div><!--/.nav-collapse -->
	</div>
      </div>
    </div>
 
    <div class="page-header">
      <div class="container">
        <h1>QSRT Quiz</h1>
      </div>
    </div>

    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2>Quiz Time!</h2>
        <p>By taking this quiz we can help match you with others better! Don't worry, you can always retake the quiz!</p>
      </div>

      <div id="legend">
        <legend class="">Rank the following from best to worst:</legend>
      </div>

      <form action="" method="post">
      {$ csrf_token %}
      <ul id="sortable">
		<li id="1" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
		<li id="2" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
		<li id="3" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
		<li id="4" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
		<li id="5" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
		<li id="6" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
		<li id="7" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
		<li id="8" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 8</li>
		<li id="9" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 9</li>
		<li id="10" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 10</li>
		<li id="11" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 11</li>
		<li id="12" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 12</li>
		<li id="13" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 13</li>
		<li id="14" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 14</li>
		<li id="15" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 15</li>
		<li id="16" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 16</li>
		<li id="17" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 17</li>
		<li id="18" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 18</li>
		<li id="19" class="ui-state-default quiz-category"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 19</li>
      </ul>

      <div class="form-actions">  
        <!-- Submit and Cancel buttons -->
		<button id="submit-quiz" class="btn btn-success">Submit</button>  
		<button class="btn">Cancel</button>  
      </div>	  
      </form>
	  
    </div>
  </body>
</html>