{% extends 'quiz/base.html' %}
{% block container %}
      <div class="hero-unit">
        <h2>Quiz Time!</h2>
        <p>By taking this quiz we can help match you with others better! Don't worry, you can always retake the quiz!</p>
      </div>

      <div id="legend">
        <legend class="">{{ quiz.question }}</legend>
      </div>

      <center>
      <h2>Most Like Me</h2>
      <ul id="sortable">
        {% for option in quiz.option_set.all %}
          <li id="{{ option.option_value }}" class="ui-state-default quiz-option"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ option.option_name }}</li>
        {% endfor %}
      </ul>
      <h2>Least Like Me</h2>
      </center>

      <div class="form-actions">  
        <!-- Submit and Cancel buttons -->
	<button onclick="onSubmit()" id="submit-quiz" class="btn btn-success" value="Submit">Submit</button>  
	<button onclick="exitApp()" class="btn">Cancel</button>  
      </div>	  
{% endblock %}	  
