{% extends 'search/base.html' %}
{% block listdropdown %}
    {% if not userProfile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile/intern" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
{% endblock %}
{% block signinbutton %}
    {% if user = none %}
                <p class="navbar-text pull-right"><a href="/login" class="navbar-link">Login</a></p>
    {% endif %}
{% endblock %}
{% block container %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12 well">

            <h1>Search Results <small>[search term]</small></h1>
            <form class="search-form"> 
              Seeking: <input type="text" class="input-large" id="skills" data-provide="typeahead" data-items="4" placeholder="Enter skills or traits" name="keyword"/> 
              in <input type="text" class="input-large" id="city" data-provide="typeahead" data-items="2" placeholder="City, State, or Zip Code" name="location"/>
              <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Search</button>
            </form>
        </div>
      </div>
    </div>
 
    <br>
 
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3 well">
          <b>Sort By: </b>
          <br>
          <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn btn-primary">Relevance</button>
            <button type="button" class="btn btn-primary">Date Posted</button>
          </div>
          <br> <br>
          <b>Compensation:</b>
          <br>
          <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn btn-primary">Both</button>
            <button type="button" class="btn btn-primary">Undergraduate</button>
            <button type="button" class="btn btn-primary">Graduate</button>
          </div>
          <br> <br>
          <b>Location:</b>
          <br>
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Chicago, IL
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>Schaumburg, IL</li>
              <li>Detroit, MI</li>
            </ul>
          </div>
        </div>
        <div class="span9 well">
          {% if interns %}
              {% for intern in interns %}
                  <a href="/profile/intern/{{ intern.id }}"><h3>{{ intern.name }}</h3></a>
                  <p>
                      <b>Major:</b> {{ intern.major }}
                      <br>
                      <b>University:</b> {{ intern.school }} 
                      <br>
                      <b>Anticipated Graduation Date:</b> {{ intern.graduation_date }}
                      <br>
                      <b>Current Location:</b> {{ intern.city }}, {{ intern.state }}
                  </p>
                  <hr>
              {% endfor %}
          {% else %}
          <p> 
          Drats...there appears to be no one that fits your criteria at this time. However, check back soon! Hundreds of users sign up everyday!
          </p>
          {% endif %}
        </div>
      </div> <!-- End Row -->
    </div> <!-- End Container -->
{% endblock %}
