{% extends 'search/base.html' %}
{% block listdropdown %}
    {% if not userProfile.is_intern %}
        <li class="dropdown">
            <a href="/profile/intern" class="dropdown-toggle" data-toggle="dropdown">My Profile <b
                    class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/profile">Edit Profile</a></li>
                <li><a href="/quiz">Take Quiz</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </li>
    {% endif %}
{% endblock %}
{% block signinbutton %}
    {% if user == none %}
        <p class="navbar-text pull-right"><a href="/login" class="navbar-link">Login</a></p>
    {% endif %}
{% endblock %}
{% block container %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 well">

                <h1>Search Results
                    <small>{{ get_params.keyword }} {% if get_params.location and get_params.keyword %}
                        , {% endif %} {{ get_params.location }}</small>
                </h1>
                <form class="search-form" action="/search">
                    Seeking: <input type="text" class="input-large" id="skills" data-provide="typeahead" data-items="4"
                                    placeholder="Enter skills or traits" name="keyword"/>
                    in <input type="text" class="input-large" id="city" data-provide="typeahead" data-items="2"
                              placeholder="City, State, or Zip Code" name="location"/>
                    <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Search</button>
                </form>
            </div>
        </div>
    </div>

    <br>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 well">
                <br>

                <div class="btn-group" data-toggle="buttons-radio">
                    <a href="/search/company?keyword={{ get_params.keyword }}&location={{ get_params.location }}&page=1&personality_filter=on"
                       class="btn {% if get_params.personality_filter == 'on' %}btn-primary{% endif %}">On</a>
                    <a href="/search/company?keyword={{ get_params.keyword }}&location={{ get_params.location }}&page=1&personality_filter="
                       class="btn {% if get_params.personality_filter != 'on' %}btn-primary{% endif %}">Off</a>
                </div>
                <br>
                <br>
            </div>
            <div class="span9 well">
                {% if interns %}
                    {% for intern in interns %}
                        <a href="/profile/intern/{{ intern.id }}"><h3>{{ intern.name }}</h3></a>
                        <p>
                            <b>Major:</b> {{ intern.major }}
                            <br>
                            <b>University:</b> {{ intern.school }}
                            <br>
                            <b>Anticipated Graduation Date:</b> {{ intern.graduation_date }}
                            <br>
                            <b>Current Location:</b> {{ intern.city }}, {{ intern.state }}
                        </p>
                        <hr>
                    {% endfor %}
                {% else %}
                    <p>
                        Drats...there appears to be no one that fits your criteria at this time. However, check back
                        soon! Hundreds of users sign up everyday!
                    </p>
                {% endif %}
            </div>
        </div>
        <!-- End Row -->
    </div> <!-- End Container -->
{% endblock %}
