{% extends 'account/base.html' %}
{% block listdropdown %}
    {% if user and not userProfile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/job-post">Post New Job</a></li>
                                <li><a href="/profile/jobs">View Active Jobs</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
    {% if user and userProfile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
{% endblock %}
{% block signinbutton %}
    {% if user = None %}
                <p class="navbar-text pull-right"><a href="/login" class="navbar-link">Login</a></p>
    {% endif %}
{% endblock %}
{% block container %}
    {% if user and not userProfile.is_intern %}
        {% if profile.id == userProfile.id %}
	      <div class="masthead">
	        <h4 class="muted">
					Company Personality: {{ userProfile.quizResult }}<br />
					Username: {{ user.username }}<br />
					EIN: {{ userProfile.ein }}
			</h4>
	        <div class="navbar">
	          <div class="navbar-inner">
	            <div class="container">
	              <ul class="nav">
	                <li class="active"><a href="/profile">Profile</a></li>
                        <li><a href="/profile/edit">Edit Profile</a></li>
	                <li><a href="/quiz/quiz">Retake Quiz</a></li>
			<li><a href="/job-post">Post New Job</a></li>
			<li><a href="/profile/jobs">Active Job Listings</a></li>
                        <li><a href="/search">Potential Applicants</a></li>
                        <li><a href="/profile/settings"><i class="icon-cog"></i> Account Settings</a></li>
	              </ul>
	            </div>
	          </div>
	        </div><!-- /.navbar -->
	<div class="row">
		<div class="span8">
		<h2>{{ profile.name }}</h2>
		<h4>Industry: {{ profile.industry }}</h4>
		{% if userProfile.description %}
		<p>
		<h3>Company Description:</h3>
		{{ profile.description }}
		</p>
		{% endif %}
		<p>
		<p>
		<br>
		<h4>Company Location:</h4>
			<ul>
			{{ profile.address }}<br>
			{{ profile.city }}, {{ profile.state }} &nbsp;{{ profile.zip }}<br>
			</ul>
		</p>
		<h4>Contact Information:</h4>
			<ul>
				<b>Phone: </b> {{ profile.phone }}<br>
				<b>Email: </b> {{ profile.contactEmail }}<br>
				{% if userProfile.website %}
				<b>Website: </b> <a href="{{ profile.website }}">{{ profile.website }}</a> <br>
				{% endif %}
			</ul>
		</p>
		</div> <!-- /.span8 -->
	{% endif %}
    {% else %}
	<div class="row">
		<div class="span8">
			<h2>{{ profile.name }}</h2>
			<h4>Industry: {{ profile.industry }}</h4>
				{% if userProfile.description %}
				<p>
					<h3>Company Description:</h3>
					{{ profile.description }}
				</p>
				{% endif %}
			<p>
			<p>
			<br>
			<h4>Company Location:</h4>
				<ul>
					{{ profile.address }}<br>
					{{ profile.city }}, {{ profile.state }} &nbsp;{{ profile.zip }}<br>
				</ul>
			</p>
			<h4>Contact Information:</h4>
				<ul>
					<b>Phone: </b> {{ profile.phone }}<br>
					<b>Email: </b> {{ profile.contactEmail }}<br>
					{% if userProfile.website %}
					<b>Website: </b> <a href="{{ profile.website }}">{{ profile.website }}</a> <br>
					{% endif %}
				</ul>
			</p>
		</div> <!-- /.span8 -->
    {% endif %}
{% endblock %}
