{% extends 'account/base.html' %}
{% block listdropdown %}
    {% if not userProfile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/job-post">Post New Job</a></li>
                                <li><a href="/profile/jobs">View Active Jobs</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
{% endblock %}
{% block container %}
              <div class="masthead">
                <h3 class="muted">Company Personality: {{ userProfile.quizResult }}<br />Username: {{ user.username }} </h3>
                <div class="navbar">
                  <div class="navbar-inner">
                    <div class="container">
                      <ul class="nav">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/profile/edit">Edit Profile</a></li>
                        <li><a href="/quiz/quiz">Retake Quiz</a></li>
                        <li><a href="/job-post">Post New Job</a></li>
                        <li class="active"><a href="/profile/jobs">Active Job Listings</a></li>
                        <li><a href="/search">Potential Applicants</a></li>
                        <li><a href="/profile/settings"><i class="icon-cog"></i> Account Settings</a></li>
                      </ul>
                    </div>
                  </div>
                </div><!-- /.navbar -->
      </div>

      <div class="row">
        <div class="span8">
            <h3>Active Jobs</h3>
            {% if postings %}
	        {% for posting in postings %}
                {% if posting.active %}
                    <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="deleteModalLabel">Confirm Delete</h3>
                        </div>
                        <div class="modal-body">
                            <p>
                            <b>Are you sure you wish to delete this Job Post?</b><br>
                            <i>This action is irreversible!</i>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="/job-post/{{ posting.id }}/delete" class="btn btn-danger"><i class="icon-trash"></i> Confirm</a>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        </div>
                    </div>
                    <a href="/job-post/{{ posting.id }}"><h3>{{ posting.headline }}</h3></a>

  	            {% if posting.city and posting.state %}
                    <p>
                        <b>Location: </b> {{ posting.city }}, {{ posting.state }}	 
  	            <br>
	            {% endif %}
	            <b>Position: </b> {{ posting.position }}
	            <br>
	            <b>Date Posting Ends: </b> {{ posting.date_post_ends }}
                    <br>
                    <br>
                    <a href="/job-post/{{ posting.id }}/edit"><i class="icon-pencil"></i> Edit</a> | <a href="#deleteModal" data-toggle='modal'><i class="icon-trash"></i> Delete</a>
                    </p>
	            <hr>
                {% else %}
                    <p>
                        Looks like you don't have any active jobs! Create some new ones, or reactivate some inactive ones!
                    </p>
                {% endif %}
	        {% endfor %}
            {% else %}
                <p>
                    Looks like you don't have any active jobs! Create some new ones, or reactivate some inactive ones!
                </p>
            {% endif %}

            <br>
            <h3>Inactive Jobs</h3>
            {% if postings %}
                {% for posting in postings %}
                {% if not posting.active %}
                    <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="deleteModalLabel">Confirm Delete</h3>
                        </div>
                        <div class="modal-body">
                            <p>
                            <b>Are you sure you wish to delete this Job Post?</b><br>
                            <i>This action is irreversible!</i>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="/job-post/{{ posting.id }}/delete" class="btn btn-danger"><i class="icon-trash"></i> Confirm</a>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        </div>
                    </div>
                    <a href="/job-post/{{ posting.id }}"><h3>{{ posting.headline }}</h3></a>

                    {% if posting.city and posting.state %}
                    <p>
                        <b>Location: </b> {{ posting.city }}, {{ posting.state }}        
                    <br>
                    {% endif %}
                    <b>Position: </b> {{ posting.position }}
                    <br>
                    <b>Date Posting Ended: </b> {{ posting.date_post_ends }}     
                    <br>
                    <br>
                    </br>
                    <a href="/job-post/{{ posting.id }}/edit"><i class="icon-pencil"></i> Edit</a> | <a href="#deleteModal" data-toggle='modal'><i class="icon-trash"></i> Delete <b class="alert"> Click edit to update and repost</b></a>
                   </p>
                    <hr>
                
                {% endif %}
                {% endfor %}
            {% else %}
               <p>
                   Looks like you don't have any inactive jobs at this time! Awesome!
               </p>
            {% endif %}

        </div>
{% endblock %}
