{% extends 'account/base.html' %}
{% block listdropdown %}
    {% if company %}
                        <li class="dropdown">
                            <a href="/profile/company" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
								<li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
    {% if intern %}
                        <li class="dropdown">
                            <a href="/profile/intern" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
								<li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
{% endblock %}
{% block container %}
    <form class="form-horizontal" action='' method="POST">
    <div id="legend">
        <legend class=""><b>Edit Profile</b></legend>
    </div>
		
    {% if intern %}	
	<!-- Begin Intern Edit Form -->
	<div>
		<!-- table table-striped table-hover table-bordered table-nonfluid -->
		<table class="table table-striped table-bordered table-nonfluid"> 
			<tbody>
                <tr>
					<td class="label-column">Name:</td>
					<td class="field-column"><a href="#" id="name">{{ user.get_profile.name }}</a></td>
                </tr>
                <tr>
					<td class="label-column">School:</td>
					<td class="field-column"><a href="#" id="school">{{ user.get_profile.school }}</a></td>
                </tr>
                <tr>
					<td class="label-column">Graduation Date:</td>
					<td class="field-column"><a href="#" id="graduation_date">{{ user.get_profile.graduation_date }}</a></td>
                </tr>
                <tr>
					<td class="label-column">Major:</td>
					<td class="field-column"><a href="#" id="major">{{ user.get_profile.major }}</a></td>
                </tr>
				<tr>
					<td class="label-column">Email:</td>
					<td class="field-column"><a href="#" id="email">{{ intern.email }}</a></td>
                </tr>
				<tr>
					<td class="label-column">Skills:</td>
					<td class="field-column"><a href="#" id="skills">{{ profile.skills }}</a></td>
                </tr>
			</tbody>
		</table>
	</div>
    {% endif%}
	  
    {% if company %}
	<!-- Begin Company Edit Form -->
	<div>
		<!-- table table-striped table-hover table-bordered table-nonfluid -->
		<table class="table table-striped table-bordered table-nonfluid"> 
			<tbody>
                <tr>
					<td class="label-column">Name:</td>
					<td class="field-column"><a href="#" id="name">{{ user.get_profile.name }}</a></td>
                </tr>
                <tr>
					<td class="label-column">Description:</td>
					<td class="field-column"><a href="#" id="description">{{ user.get_profile.description }}</a></td>
                </tr>
                <tr>
					<td class="label-column">Industry:</td>
					<td class="field-column"><a href="#" id="industry">{{ user.get_profile.industry }}</a></td>
                </tr>
                <tr>
					<td class="label-column">Address:</td>
					<td class="field-column"><a href="#" id="address">{{ user.get_profile.address }}</a></td>
                </tr>
				<tr>
					<td class="label-column">City:</td>
					<td class="field-column"><a href="#" id="city">{{ user.get_profile.city }}</a></td>
                </tr>
				<tr>
					<td class="label-column">State:</td>
					<td class="field-column"><a href="#" id="state">{{ user.get_profile.state }}</a></td>
                </tr>
				<tr>
					<td class="label-column">Zip Code:</td>
					<td class="field-column"><a href="#" id="zip">{{ user.get_profile.zip }}</a></td>
                </tr>
				<tr>
					<td class="label-column">Email:</td>
					<td class="field-column"><a href="#" id="email">{{ company.email }}</a></td>
                </tr>
				<tr>
					<td class="label-column">Contact Phone:</td>
					<td class="field-column"><a href="#" id="phone">{{ user.get_profile.phone }}</a></td>
                </tr>
				<tr>
					<td class="label-column">Contact Email:</td>
					<td class="field-column"><a href="#" id="contactEmail">{{ user.get_profile.contactEmail }}</a></td>
                </tr>
				<tr>
					<td class="label-column">Company Website:</td>
					<td class="field-column"><a href="#" id="website">{{ user.get_profile.website }}</a></td>
                </tr>
				<tr>
					<td class="label-column">Skills:</td>
					<td class="field-column"><a href="#" id="skills">{{ profile.skills }}</a></td>
                </tr>
			</tbody>
		</table>
	</div>
{% endif%}

		<div class="save-edits">  
			<!-- Save and Cancel button -->
			<button class="btn btn-success save-edit">Save</button>
			<button class="btn">Cancel</button>  
        </div>
</form>
{% endblock %}
