{% extends 'account/base.html' %}
{% block listdropdown %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
{% endblock %}
{% block container %}	
	      <div class="masthead">
	        <h4 class="muted">
				My Personality: {{ userProfile.quizResult }}<br />
				Username: {{ user.username }}<br />
			</h4>
	        <div class="navbar">
	          <div class="navbar-inner">
	            <div class="container">
                      <ul class="nav">
                        <li class="active"><a href="/profile">Profile</a></li>
                        <li><a href="/profile/edit">Edit Profile</a></li>
                        <li><a href="/quiz/quiz">Retake Quiz</a></li>
                        <li><a href="/references/add">Add Reference</a></li>
                        <li><a href="/profile/references">View References</a></li>
                        <li><a href="/search">Potential Matches</a></li>
                        <li><a href="/profile/companies">Browse Companies</a></li>
                        <li><a href="/profile/settings"><i class="icon-cog"></i> Account Settings</a></li>
	              </ul>
	            </div>
	          </div>
	        </div><!-- /.navbar -->
      </div>
      <div class="row">
        <div class="span8">
			<!-- Intern Name -->
			<h2>{{ userProfile.name }}</h2>
                        <a href="/profile/intern/{{ userProfile.id }}">>> View Resume</a>

			<!-- Intern School Info -->
			<p>
				<h3>Academic Information</h3>
				<h4>University:</h4>
				{{ userProfile.school }}
				<h4>Major:</h4>
				{{ userProfile.major }}
				<h4>Status: </h4>
				{{ userProfile.status }}
				<h4>Anticipated Graduation Date:</h4>
				{{ userProfile.graduation_date }}
			</p>

			<!-- Intern City -->
			<p>
				<h3>Location:</h3>
				I currently live in {{ userProfile.city }}, {{ userProfile.state }}.
			</p>

			<!-- Intern Professional Summary -->
			{% if userProfile.description %}
			<p>
				<h3>Professional Summary:</h3>
				{{ userProfile.description}}
			</p>
			{% endif %}
			
			<!-- Intern Skills -->
			{% if userProfile.getSkills %}
			<p>
				<h3>Skills:</h3>
				<ul>
				{% for skill in userProfile.getSkills %}
				<li> {{ skill.name }} </li>
				{% endfor %}
				</ul>
			</p>
			{% endif %}

			<!-- Intern References -->
			{% if userProfile.getReferences %}
			    <h3>References:</h3>
                            <ol>
                            {% for reference in userProfile.getReferences %}
                            <li>
                                {{ reference.name }}, <i>{{ reference.relationship }}</i> - <a href="{{ reference.email }}?subject=Information%20About%20{{ userProfile.name }}">Contact me</a> <!-- <a href="mailto:{{ reference.email }}">Contact me</a> -->
                            </li>
                            {% endfor %}
                            </ol>
			{% endif %}
        </div> <!-- /.span8 -->
{% endblock %}
