{% extends 'account/base.html' %}
{% block listdropdown %}
    {% if user and not userProfile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/job-post">Post New Job</a></li>
                                <li><a href="/profile/jobs">View Active Jobs</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
    {% if user and userProfile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
{% endblock %}
{% block container %}	
    {% if user and userProfile.is_intern %}
        {% if profile.id == userProfile.id %}
              <div class="masthead">
                <h4 class="muted">
		    <i>Viewing as a Company</i><br/>
                    <a href="/profile">Back to My Profile</a>
		</h4>
                <div class="row">
                  <div class="span8">
                        <!-- Intern Name -->
                        <h2>{{ profile.name }}</h2>

                        <!-- Intern School Info -->
                        <p>
                                <h3>Academic Information</h3>
                                <h4>University:</h4>
                                {{ profile.school }}
                                <h4>Major:</h4>
                                {{ profile.major }}
                                <h4>Status: </h4>
                                {{ profile.status }}
                                <h4>Anticipated Graduation Date:</h4>
                                {{ profile.graduation_date }}
                        </p>

                        <!-- Intern City -->
                        <p>
                                <h3>Location:</h3>
                                I currently live in {{ profile.city }}, {{ profile.state }}.
                        </p>

                        <!-- Intern Professional Summary -->
                        {% if profile.description %}
                        <p>
                                <h3>Professional Summary:</h3>
                                {{ profile.description}}
                        </p>
                        {% endif %}

                        <!-- Intern Skills -->
                        {% if profile.getSkills %}
                        <p>
                                <h3>Skills:</h3>
                                <ul>
                                {% for skill in profile.getSkills %}
                                <li> {{ skill.name }} </li>
                                {% endfor %}
                                </ul>
                        </p>
                        {% endif %}

                        <!-- Intern References -->
                        {% if profile.getReferences %}
                            <h3>References:</h3>
                            <ol>
                            {% for reference in profile.getReferences %}
                            <li>
                                {{ reference.name }}, <i>{{ reference.relationship }}</i> - <a href="{{ reference.email }}?subject=Information%20About%20{{ profile.name }}">Contact me</a>
                            </li>
                            {% endfor %}
                            </ol>
                        {% endif %}
                        <br />
                        <a href="mailto:{{ profile.user.email }}?Subject=Internship%20Opportunity%20From%20{{ userProfile.name }}" class="btn btn-primary">Contact Me!</a>
                  </div> <!-- /.span8 -->
      {% endif %}
    {% else %}
      <div class="row">
          <div class="span8">
              <!-- Intern Name -->
              <h2>{{ profile.name }}</h2>

               <!-- Intern School Info -->
               <p>
                   <h3>Academic Information</h3>
                   <h4>University:</h4>
                       {{ profile.school }}
                   <h4>Major:</h4>
                       {{ profile.major }}
                   <h4>Status: </h4>
                       {{ profile.status }}
                   <h4>Anticipated Graduation Date:</h4>
                       {{ profile.graduation_date }}
               </p>

              <!-- Intern City -->
              <p>
                  <h3>Location:</h3>
                      I currently live in {{ profile.city }}, {{ profile.state }}.
              </p>

              <!-- Intern Professional Summary -->
              {% if profile.description %}
                  <p>
                      <h3>Professional Summary:</h3>
                          {{ profile.description}}
                  </p>
              {% endif %}

              <!-- Intern Skills -->
              {% if profile.getSkills %}
                  <p>
                  <h3>Skills:</h3>
                  <ul>
                  {% for skill in profile.getSkills %}
                      <li> {{ skill.name }} </li>
                  {% endfor %}
                  </ul>
                  </p>
              {% endif %}

              <!-- Intern References -->
              {% if profile.getReferences %}
                  <h3>References:</h3>
                  <ol>
                  {% for reference in profile.getReferences %}
                  <li>
                      {{ reference.name }}, <i>{{ reference.relationship }}</i> - <a href="{{ reference.email }}?subject=Information%20About%20{{ profile.name }}">Contact me</a>
                  </li>
                  {% endfor %}
                  </ol>
              {% endif %}
              <br />
              <a href="mailto:{{ profile.user.email }}?subject=Internship%20Opportunity%20From%20{{ userProfile.name }}" class="btn btn-primary">Contact Me!</a>
          </div>
    {% endif %}
{% endblock %}
