{% extends 'account/base.html' %}
{% block listdropdown %}
    {% if user and not userProfile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/job-post">Post New Job</a></li>
                                <li><a href="/profile/jobs">View Active Jobs</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
    {% if user and userProfile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
{% endblock %}
{% block container %}	
    {% if user and userProfile.is_intern %}
        {% if profile.id == userProfile.id %}
              <div class="masthead">
                <h3 class="muted">My Personality: {{ userProfile.quizResult }}<br />Username: {{ user.username }} </h3>
                <div class="navbar">
                  <div class="navbar-inner">
                    <div class="container">
                      <ul class="nav">
                        <li class="active"><a href="/profile">Profile</a></li>
                        <li><a href="/profile/edit">Edit Profile</a></li>
                        <li><a href="/quiz/quiz">Retake Quiz</a></li>
                        <li><a href="/job-post">Resume</a></li>
                        <li><a href="/profile/jobs">Edit Resume</a></li>
                        <li><a href="/search">Potential Matches</a></li>
                        <li><a href="/profile/settings"><i class="icon-cog"></i> Account Settings</a></li>
                      </ul>
                    </div>
                  </div>
                </div><!-- /.navbar -->
                <div class="row">
                  <div class="span8">
                    <h2>{{ profile.name }}</h2>
                    <p>Major: {{ profile.major }}</p>
                    <p>
                    <h3>Professional Summary:</h3>
                    </p>
                    <p>
                    <h3>Personality type:</h3>
                    </p>
                    <p>
                    <h3>Skills:</h3>
                    </p>
                    <p>
                    <h3>Experience</h3>
                    </p>
                  </div> <!-- /.span8 -->
      {% endif %}
    {% else %}
      <div class="row">
        <div class="span8">
	  <h2>{{ profile.name }}</h2>
	  <p>Major: {{ profile.major }}</p>
	  <p>
            <h3>Professional Summary:</h3>
          </p>
	  <p>
            <h3>Personality type:</h3>
          </p>
	  <p>
            <h3>Skills:</h3>
	  </p>
          <p>
            <h3>Experience</h3>
          </p>
        </div> <!-- /.span8 -->
    {% endif %}
{% endblock %}
