{% extends 'account/base.html' %}
{% block listdropdown %}
    {% if company %}
                        <li class="dropdown">
                            <a href="/profile/intern" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
{% endblock %}
{% block container %}	
	      <div class="masthead">
	        <h3 class="muted">Company Personality: Creative<br />Username: {{ company.username }}</h3>
	        <div class="navbar">
	          <div class="navbar-inner">
	            <div class="container">
	              <ul class="nav">
	                <li class="active"><a href="#">Profile</a></li>
	                <li><a href="#">Personality</a></li>
					<li><a href="#">Active Applicants</a></li>
					<li><a href="#">Active Job Listings</a></li>
	                <li><a href="#">Search History</a></li>
	                <li><a href="#">Notifications</a></li>
	              </ul>
	            </div>
	          </div>
	        </div><!-- /.navbar -->
      </div>
      <div class="row">
        <div class="span8">
	  <h2>ACME Corporation</h2>
	  <!-- <p>Unique and Reliable Products</p> --> <br>
	  <p>
        <h3>Company Description:</h3>
        Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      </p>
	  <p>
        <h3>Personality type:</h3>
        Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      </p>
	  <p>
        <h3>Affiliations and Partnerships:</h3>
        <ul>
		  <li>ACE</li>
		  <li>AJAX</li>
		  <li>Warner Bros.</li>
		</ul>
	  </p>
      <p>
		<br>
		<p>
	    <h4>Company Location:</h4>
	    <ul>
			1234 N. Michigan Ave <br>
			Chicago, IL 60601 <br>
		</ul>
	  </p>
        <h4>Contact Information:</h4>
		<ul>
			<b>Phone: </b> (312)555-5555 <br>
			<b>Fax: </b> (312)555-6666 <br>
			<b>Email: </b> careers@acmecorp.com <br>
			<b>Website: </b> <a href="#">www.acmecorp.com</a> <br>
		</ul>
      </p>
        </div> <!-- /.span8 -->
{% endblock %}
