{% extends 'account/base.html' %}
{% block listdropdown %}
    {% if intern %}
                        <li class="dropdown">
                            <a href="/profile/intern" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
								<li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
{% endblock %}
{% block container %}	
	      <div class="masthead">
	        <h3 class="muted">My Personality: Creative<br /> {{ profile.name }}</h3>
	        <div class="navbar">
	          <div class="navbar-inner">
	            <div class="container">
	              <ul class="nav">
	                <li class="active"><a href="#">My Profile</a></li>
	                <li><a href="#">My Personality</a></li>
	                <li><a href="#">Search History</a></li>
	                <li><a href="#">My Applications</a></li>
	                <li><a href="#">Resume</a></li>
	                <li><a href="#">Notifications</a></li>
	              </ul>
	            </div>
	          </div>
	        </div><!-- /.navbar -->
      </div>
      <div class="row">
        <div class="span8">
	  <h2>{{ InternProfile.user }}</h2>
	  <p>Major: {{ profile.major   }}</p>
	  <p>
            <h3>Professional Summary:</h3>
            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
          </p>
	  <p>
            <h3>Personality type:</h3>
            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
          </p>
	  <p>
            <h3>Skills:</h3>
            <ul>
	      <li>Python</li>
	      <li>Java</li>
	      <li>System Analysis</li>
	      <li>Data Analytics</li>
	    </ul>
	  </p>
          <p>
            <h3>Experience</h3>
            <ul>
       	      <li>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</li>
	      <li>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</li>
	      <li>Etiam porta sem malesuada magna mollis euismod.</li>
	    </ul>
          </p>
        </div> <!-- /.span8 -->
{% endblock %}
