{% extends 'account/base.html' %}
{% block listdropdown %}
    {% if not userProfile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/job-post">Post New Job</a></li>
                                <li><a href="/profile/jobs">View Active Jobs</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
    {% if userProfile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
				<li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
{% endblock %}
{% block container %}
    {% if not userProfile.is_intern %}
              <div class="masthead">
                <h3 class="muted">Company Personality: {{ userProfile.quizResult }}<br />Username: {{ user.username }} </h3>
                <div class="navbar">
                  <div class="navbar-inner">
                    <div class="container">
                      <ul class="nav">
                        <li><a href="/profile">Profile</a></li>
                        <li class="active"><a href="/profile/edit">Edit Profile</a></li>
                        <li><a href="/quiz/quiz">Retake Quiz</a></li>
                        <li><a href="/job-post">Post New Job</a></li>
                        <li><a href="/profile/jobs">Active Job Listings</a></li>
                        <li><a href="/search">Potential Applicants</a></li>
                        <li><a href="/profile/settings"><i class="icon-cog"></i> Account Settings</a></li>
                      </ul>
                    </div>
                  </div>
                </div><!-- /.navbar -->
    {% else %}
              <div class="masthead">
                <h3 class="muted">My Personality: {{ userProfile.quizResult }}<br />Username: {{ user.username }} </h3>
                <div class="navbar">
                  <div class="navbar-inner">
                    <div class="container">
                      <ul class="nav">
                        <li><a href="/profile">Profile</a></li>
                        <li class="active"><a href="/profile/edit">Edit Profile</a></li>
                        <li><a href="/quiz/quiz">Retake Quiz</a></li>
                        <li><a href="/resume">Resume</a></li>
                        <li><a href="/resume/edit">Edit Resume</a></li>
                        <li><a href="/search">Potential Matches</a></li>
                        <li><a href="/profile/settings"><i class="icon-cog"></i> Account Settings</a></li>
                      </ul>
                    </div>
                  </div>
                </div><!-- /.navbar -->
    {% endif %}

    <form class="form-horizontal" action='' method="POST">
    <div id="legend">
        <legend class=""><b>Edit Profile</b></legend>
    </div>
		
    {% if userProfile.is_intern %}	
	<!-- Begin Intern Edit Form -->
	<div>
		<!-- table table-striped table-hover table-bordered table-nonfluid -->
		<table class="table table-striped table-bordered table-nonfluid"> 
		    <tbody>
                        <tr>
	  		    <td class="label-column" style="vertical-align:middle">Name:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="name">{{ userProfile.name }}</a></td>
                        </tr>
                        <tr>
			    <td class="label-column" style="vertical-align:middle">School:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="school">{{ userProfile.school }}</a></td>
                        </tr>
                        <tr>
		 	    <td class="label-column" style="vertical-align:middle">Graduation Date:</td>
		  	    <td class="field-column" style="vertical-align:middle"><a href="#" id="graduation_date">{{ userProfile.graduation_date }}</a></td>
                        </tr>
                        <tr> 
			    <td class="label-column" style="vertical-align:middle">Major:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="major">{{ userProfile.major }}</a></td>
                        </tr>
			<tr>
			    <td class="label-column" style="vertical-align:middle">Email:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="email">{{ user.email }}</a></td>
                        </tr>
			<tr>
			    <td class="label-column" style="vertical-align:middle">Skills:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="skills">{{ profile.skills }}</a></td>
                        </tr>
		    </tbody>
		</table>
	</div>
    {% endif%}
	  
    {% if not userProfile.is_intern %}
	<!-- Begin Company Edit Form -->
	<div>
		<!-- table table-striped table-hover table-bordered table-nonfluid -->
		<table class="table table-striped table-bordered table-nonfluid"> 
		    <tbody>
                        <tr>
			    <td class="label-column" style="vertical-align:middle">Name:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="name">{{ userProfile.name }}</a></td>
                        </tr>
                        <tr>
			    <td class="label-column" style="vertical-align:middle">Description:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="description">{{ userProfile.description }}</a></td>
                        </tr>
                        <tr>
		 	    <td class="label-column" style="vertical-align:middle">Industry:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="industry">{{ userProfile.industry }}</a></td>
                        </tr>
                        <tr>
			    <td class="label-column" style="vertical-align:middle">Address:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="address">{{ userProfile.address }}</a></td>
                        </tr>
		        <tr>
			    <td class="label-column" style="vertical-align:middle">City:</td>
		  	    <td class="field-column" style="vertical-align:middle"><a href="#" id="city">{{ userProfile.city }}</a></td>
                        </tr>
		        <tr>
			    <td class="label-column" style="vertical-align:middle">State:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="state">{{ userProfile.state }}</a></td>
                        </tr>
	 	        <tr>
			    <td class="label-column" style="vertical-align:middle">Zip Code:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="zip">{{ userProfile.zip }}</a></td>
                        </tr>
		        <tr>
			    <td class="label-column" style="vertical-align:middle">Email:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="email">{{ user.email }}</a></td>
                        </tr>
		        <tr>
			    <td class="label-column" style="vertical-align:middle">Contact Phone:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="phone">{{ userProfile.phone }}</a></td>
                        </tr>
		        <tr>
			    <td class="label-column" style="vertical-align:middle">Contact Email:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="contactEmail">{{ userProfile.contactEmail }}</a></td>
                        </tr>
		        <tr>
			    <td class="label-column" style="vertical-align:middle">Company Website:</td>
			    <td class="field-column" style="vertical-align:middle"><a href="#" id="website">{{ userProfile.website }}</a></td>
                        </tr>
		    </tbody>
		</table>
	</div>
{% endif%}
</form>
      <div class="form-actions">
        <!-- Submit and Cancel buttons -->
        <button onclick="onSubmit()" id="update-profile" class="btn btn-success save-edit" value="Submit">Save</button>
        <button onclick="exitApp()" class="btn">Cancel</button>
      </div>
{% endblock %}
