{% extends 'job-post/base.html' %}
{% block listdropdown %}
    {% if isAuth %}
                        <li class="dropdown">
                            <a href="/profile/intern" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
{% endblock %}
{% block container %}
    {% if jobpost %}
        <div class="row">
            <div class="span8">
                <h2>{{ jobpost.headline }}</h2>
                <br>
                <i>Posted on: {{ jobpost.dateposted }}</i>
                <p>
                <h3>Company Information:</h3>
                {{ jobpost.company }} - {{ job.post.city }}, {{ jobpost.state }}
                <h3>Job Description:</h3>
                {{ jobpost.description }}
                <h3>Required Skills</h3>
                <ul>
                {% for reqSkill in jobpost.getRequiredSkills %}
                    <li>{{ reqSkill.name }}</li>
                {% endfor %}               
                </ul>
                <h3>Desired Skills</h3>
                <ul>
                {% for reqSkill in jobpost.getDesiredSkills %}
                    <li>{{ reqSkill.name }}</li>
                {% endfor %}   
                </ul>
                </p>
            </div> <!-- /.span8 -->
    {% endif %}
{% endblock %}
