{% extends 'job-post/base.html' %}
{% block listdropdown %}
    {% if company %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/job-post">Post New Job</a></li>
                                <li><a href="/profile/jobs">View Active Jobs</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
    {% endif %}
{% endblock %}
{% block container %}
    {% if company %}
              <div class="masthead">
                <h3 class="muted">Company Personality: Creative {{ profile.quizResult }}<br />Username: {{ company.username }} </h3>
                <div class="navbar">
                  <div class="navbar-inner">
                    <div class="container">
                      <ul class="nav">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/profile/edit">Edit Profile</a></li>
                        <li><a href="/quiz/quiz">Retake Quiz</a></li>
                        <li><a href="/job-post">Post New Job</a></li>
                        <li><a href="/profile/jobs">Active Job Listings</a></li>
                        <li><a href="/search">Potential Applicants</a></li>
                        <li><a href="/profile/settings"><i class="icon-cog"></i> Account Settings</a></li>
                      </ul>
                    </div>
                  </div>
                </div><!-- /.navbar -->
    <form class="form-horizontal" action='' method="POST">
        <input type="hidden" id="postingid" value="{{ posting.id }}">
        <div id="legend">
            <legend class=""><b>Edit Job Posting</b></legend>
        </div>
    <!-- Begin Job Edit Form -->
    <div>
        <table class="table table-striped table-bordered table-nonfluid"> 
	    <tbody>
                <tr>
		    <td class="label-column" style="vertical-align:middle">Job Headline:</td>
		    <td class="field-column" style="vertical-align:middle"><a href="#" id="headline">{{ posting.headline }}</a></td>
                </tr>
                <tr>
                    <td class="label-column" style="vertical-align:middle">Job Position:</td>
                    <td class="field-column" style="vertical-align:middle"><a href="#" id="position">{{ posting.position }}</a></td>
                </tr>
                <tr>
		    <td class="label-column" style="vertical-align:middle">Description:</td>
		    <td class="field-column" style="vertical-align:middle"><a href="#" id="description">{{ posting.description }}</a></td>
                </tr>
                <tr>
                    <td class="label-column" style="vertical-align:middle">Company Bio:</td>
                    <td class="field-column" style="vertical-align:middle"><a href="#" id="company_bio">{{ posting.company_bio }}</a></td>
                </tr>
                <tr>
                    <td class="label-column" style="vertical-align:middle">Required Skills - Enter a comma separated list</td>
                    <td class="field-column" style="vertical-align:middle">
                    <a href="#" id="required">
                        {% for reqSkill in posting.getRequiredSkills %}
                            {{ reqSkill.name }},
                        {% endfor %}
                    </a></td>
                </tr>
                <tr>
                    <td class="label-column" style="vertical-align:middle">Desired Skills - Enter a comma separated list</td>
                    <td class="field-column" style="vertical-align:middle"><a href="#" id="desired">
                        {% for desSkill in posting.getDesiredSkills %}{{ desSkill.name }},{% endfor %}
                    </a></td>
                </tr>
		<tr>
		    <td class="label-column" style="vertical-align:middle">City:</td>
		    <td class="field-column" style="vertical-align:middle"><a href="#" id="city">{{ posting.city }}</a></td>
                </tr>
		<tr>
		    <td class="label-column" style="vertical-align:middle">State:</td>
		    <td class="field-column" style="vertical-align:middle"><a href="#" id="state">{{ posting.state }}</a></td>
                </tr>
                <tr>
                    <td class="label-column" style="vertical-align:middle">Date Post Ends:</td>
                    <td class="field-column" style="vertical-align:middle"><a href="#" id="end_date">{{ posting.formattedDate }}</a></td>
                </tr>

            </tbody>
        </table>
    </div>
    </form>
    <div class="form-actions">
    <!-- Submit and Cancel buttons -->
        <button onclick="onSubmit()" id="update-profile" class="btn btn-success save-edit" value="Submit">Save</button>
        <button onclick="exitApp()" class="btn">Cancel</button>
    </div>
    {% endif %}
{% endblock %}
