{% extends 'job-post/base.html' %}
{% block listdropdown %}
{% if user and userProfile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
{% endif %}
{% if user and not userProfile.is_intern %}
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">View Profile</a></li>
                                <li><a href="/profile/edit">Edit Profile</a></li>
                                <li><a href="/quiz">Take Quiz</a></li>
                                <li><a href="/job-post">Post New Job</a></li>
                                <li><a href="/profile/jobs">View Active Jobs</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
{% endif %}
{% endblock %}
{% block signinbutton %}
    {% if user = None %}
                <p class="navbar-text pull-right"><a href="/login" class="navbar-link">Login</a></p>
    {% endif %}
{% endblock %}
{% block container %}
{% if jobpost %}
<div class="row">
	<div class="span8">
		<h2>{{ jobpost.headline }}</h2>
		<br>
		<i>Posted on: {{ jobpost.date_posted }}</i>
		<p>
			<h3>Company Information:</h3>
			<a href="/profile/company/{{jobpost.company.id}}">{{ jobpost.company }}</a> - {{ jobpost.city }}, {{ jobpost.state }} 
			{% if jobpost.company_bio %}
			<h3>Company Bio</h3>
			{{ jobpost.company_bio }}
			{% endif %}
			<h3>Job Description:</h3>
			{{ jobpost.description }}
			{% if jobpost.getRequiredSkills|length > 0 %}
			<h3>Required Skills</h3>
			{% endif %}
			<ul>
				{% for reqSkill in jobpost.getRequiredSkills %}
				<li>
					{{ reqSkill.name }}
				</li>
				{% endfor %}
			</ul>
			{% if jobpost.getDesiredSkills|length > 0 %} 
			<h3>Desired Skills</h3>
			{% endif %}
			<ul>
				{% for reqSkill in jobpost.getDesiredSkills %}
				<li>
					{{ reqSkill.name }}
				</li>
				{% endfor %}
			</ul>
		</p>
		{% if jobpost.url %}
		<a href="{{ jobpost.url }}" target="_blank" class="btn btn-primary">Apply Now</a>
		{% else %} 
                <a href="mailto:{{ jobpost.company.contactEmail }}?Subject=Application%20for%20{{ jobpost.headline }}" class="btn btn-primary">Apply Now</a>
		{% endif %}
	</div>
	<!-- /.span8 -->
	{% endif %}
	{% endblock %}
